<p>結果</p>

 <%= @keisan.number1 %> +  <%= @keisan.number2 %> =   <%= @tashizan %> <BR> 
 <%= @keisan.number1 %> -  <%= @keisan.number2 %>  =  <%= @hikizan %> <BR>
 <%= @keisan.number1 %> *  <%= @keisan.number2 %> = <%= @kakezan %> <BR>
 <%= @keisan.number1 %> /  <%= @keisan.number2 %> = <%= @warizan %> <BR>
