<p>結果</p>

  <%= @calculation.number1 %> + <%= @calculation.number2 %> = <%= @tashizan %> <br>
  <%= @calculation.number1 %> - <%= @calculation.number2 %> = <%= @hikizan %> <br>
  <%= @calculation.number1 %> * <%= @calculation.number2 %> = <%= @kakezan %> <br>
  <%= @calculation.number1 %> / <%= @calculation.number2 %> = <%= @warizan %> <br>

<%= link_to '計算へ', root_path %>
